@use '../functions/mixins'
@use '../functions/function'

.services
    padding: 2rem 7%
    .container
        margin: 0 auto
        max-width: 720px
        width: 100%
        display: grid
        align-items: center
        justify-content: center
        grid-template-columns: repeat(3,1fr)
        @include function.resposivebile(789px)
            grid-template-columns: repeat(1, minmax(0,1fr))
        gap: 3rem
        .box
            padding: 2rem
            background: #8a57b6
            border-radius: .4rem
            transition: transform .6s ease
            &:hover
                transform: scale(1.1)
                transition: none
            i,h2,p
                color: #fff 
            .contd
                display: flex
                gap: .5rem
                align-items: center
                i
                    font-size: 4rem
            p
                font-size: 1.3rem
    .description
        max-width: 820px
        width: 100%
        margin: 2rem auto
        p
            font-size: 1.4rem
            font-weight: 600
            color: #666
        h2
            color: #8a57b6
            font-size: 4rem
        

           

