@use '../functions/mixins'
@use '../functions/function'

.logo
    font-size: 1.7rem
    color: #fff

.header
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1000
  
    .container
        padding: .8rem
        @include function.resposivebile(991px)
            padding: .8rem 2rem
        margin: 0 auto
        width: 100%
        max-width: 923px
        @include function.displayCss(flex,center,space-between,2rem)
        form
            width: 350px
            height: 32px
            padding: 0 1.2rem
            @include function.displayCss(flex,center,space-between,1rem)
            border: 1px solid #fff
            button
                font-size: 1.3rem !important
                cursor: pointer
                color: #fff
            input,button
                background: transparent
            input::placeholder
                color: #fff
                font-size: 1.2rem
    .navbar
        display: flex
        align-items: center
        gap: 2rem
        ul
            display: flex
            align-items: center
            gap: 2rem
            a
                font-size: 1.5rem
                font-weight: 400
                color: #fff
