@import url("https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,900;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
  letter-spacing: 0.2rem;
  font-family: "Schibsted Grotesk", sans-serif;
}

html {
  font-size: 62.5%;
}
@media (max-width: 991px) {
  html {
    font-size: 55.5%;
  }
}
@media (max-width: 421px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 269px) {
  html {
    font-size: 47.5%;
  }
}

input, img {
  width: 100%;
  height: 100%;
}

img {
  object-fit: cover;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7rem 1.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background: #fff;
  color: #111;
}

@media (max-width: 991px) {
  section {
    padding: 2rem;
  }
}

p {
  line-height: 2rem;
}

.logo {
  font-size: 1.7rem;
  color: #fff;
}

#btnMenu {
  font-size: 1.6rem;
  color: #fff;
  border: 0.1rem solid #fff;
  padding: 0 0.8rem;
  height: 32px;
  display: none;
}
@media (max-width: 889px) {
  #btnMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.header .container {
  padding: 0.8rem;
  margin: 0 auto;
  width: 100%;
  max-width: 923px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 991px) {
  .header .container {
    padding: 0.8rem 2rem;
  }
}
.header .container form {
  width: 350px;
  height: 32px;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid #fff;
}
@media (max-width: 789px) {
  .header .container form {
    width: 100%;
  }
}
.header .container form button {
  font-size: 1.3rem !important;
  cursor: pointer;
  color: #fff;
}
.header .container form input, .header .container form button {
  background: transparent;
}
.header .container form input::placeholder {
  color: #fff;
  font-size: 1.2rem;
}
.header .navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 889px) {
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    background: #8a57b6;
    padding: 2rem;
    transform: translateX(123%);
    transition: transform 0.6s ease;
  }
  .header .navbar.active {
    transform: translateX(0);
  }
}
.header .navbar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 889px) {
  .header .navbar ul {
    flex-direction: column;
  }
}
.header .navbar ul a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}
@media (max-width: 889px) {
  .header .navbar ul a {
    font-size: 2rem;
    font-weight: bold;
  }
}

.logo {
  font-size: 1.7rem;
}

.start {
  background: url(https://img.freepik.com/fotos-gratis/mulher-jovem-com-camisa-e-colete-no-fundo-roxo-se-divertindo-com-uma-lupa-na-mao_343596-7736.jpg?size=626&ext=jpg&ga=GA1.1.1665606161.1681751605&semt=sph) no-repeat;
  height: 70vh;
  background-position: 0px 0px, right 3em bottom 0;
  background-size: cover;
}
@media (max-width: 991px) {
  .start {
    background-position: center center;
  }
}

.services {
  padding: 2rem 7%;
}
.services .container {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 789px) {
  .services .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.services .container .box {
  padding: 2rem;
  background: #8a57b6;
  border-radius: 0.4rem;
  transition: transform 0.6s ease;
}
.services .container .box:hover {
  transform: scale(1.1);
  transition: none;
}
.services .container .box i, .services .container .box h2, .services .container .box p {
  color: #fff;
}
.services .container .box .contd {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.services .container .box .contd i {
  font-size: 4rem;
}
.services .container .box p {
  font-size: 1.3rem;
}
.services .description {
  max-width: 820px;
  width: 100%;
  margin: 2rem auto;
}
.services .description p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #666;
}
.services .description h2 {
  color: #8a57b6;
  font-size: 4rem;
}

/*# sourceMappingURL=global.css.map */
